.jeremy1 {
  margin: auto;
  position: absolute;
}

.logo {
  position: relative;
  padding-top: 492px;
  z-index: 1;
}

.jeremy2 {
  position: relative;
  bottom: 92px;
  margin: auto;
}


@media only screen and (min-width: 60em) {

  .jeremy2 {
    display: block;
    margin: auto;
    right: 180px;
  }

}
