html {
  font: normal 100%/1.3;
  font-family: "Playfair Display";
  max-width: 400px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 1.5em;
}

@font-face {
  font-family: fb;
  src: url("../fonts/friendboys.otf");
}

.home {
  width: 30%;
  height: 4%;
  fill: black;
  top: 27px;
  margin-bottom: 50px;
}

.home svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: black;
}

.home:focus {
  outline: 2px solid var(--color-primary);
}

.home:hover svg, .home-bottom:hover {
  fill: var(--color-primary);
}

.wrapper {
  position: relative;
}

.header {
  max-height: 670px;
}

.mdna .header {
  max-height: 510px;
}

.illustration .header {
  max-height: 530px;
}

.paint .header {
  max-height: 530px;
}

.body .header {
  max-height: 520px;
}

.perspective .header {
  max-height: 530px;
}

.dingbats .header {
  max-height: 530px;
}

.liquid .header {
  max-height: 530px;
}

.motion-reel .header {
  max-height: 450px;
}

.clowcards .header {
  max-height: 530px;
}

.queen .header {
  max-height: 530px;
}

.projects {
  display: none;
}

.bio2 {
  display: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  display: inherit;
  position: relative;
  padding-bottom: 50px;
}

.mockup {
  max-width: 100%;
  position: relative;
  padding-bottom: 2em;
}

.footer {
  top: 100px;
}

/* Quotebook */

.img1 {
  position: absolute;
  width: 350px;
  left: -5px;
  top: 50px;
}

.project-logo {
  color: #d9b0bc;
  position: relative;
  padding-top: 165px;
  z-index: 1;
  width: 320px;
}

.img2 {
  position: relative;
  width: 350px;
  left: -4px;
  top: -65px;
}

/* MDNA */

.mdna .img1 {
  position: absolute;
  width: 340px;
  left: 14px;
  top: 55px;
}

.mdna .project-logo {
  color: #8c97ef;
  position: relative;
  padding-top: 165px;
  width: 320px;
}

.mdna .img2 {
  position: relative;
  width: 340px;
  left: -4px;
  top: -60px;
}

/* isometric */

.iso1 {
  position: absolute;
  width: 320px;
}

.illustration .project-logo {

  color: #d14f73;
}

.iso2 {
  position: relative;
  bottom: 78px;
  width: 320px;
}

/* uTan */

.utan .project-logo {
  color: #78aa6d;
  bottom: 13px;
}

  .utan .iso1 {
    width: 88%;
    left: 30px;
  }

  .utan .iso2 {
    width: 320px;
    left: 10px;
    top: -60px;
  }

  .carousel-items > div {
  display: none;
}

  #page1-control:checked ~ .carousel-inner #page1,
  #page2-control:checked ~ .carousel-inner #page2,
  #page3-control:checked ~ .carousel-inner #page3,
  #page4-control:checked ~ .carousel-inner #page4,
  #page5-control:checked ~ .carousel-inner #page5,
  #page6-control:checked ~ .carousel-inner #page6,
  #page7-control:checked ~ .carousel-inner #page7,
  #page8-control:checked ~ .carousel-inner #page8,
  #page9-control:checked ~ .carousel-inner #page9,
  #page10-control:checked ~ .carousel-inner #page10 {
    display: block;
  }

  .carousel {
    padding-bottom: 100px;
   }

  .carousel-btn {
    bottom: -90px;
    border: 3px solid #78ab6c;
    border-radius: 50%;
  }

  #page1-control:checked ~ .carousel-inner [for="page1-control"],
  #page2-control:checked ~ .carousel-inner [for="page2-control"],
  #page3-control:checked ~ .carousel-inner [for="page3-control"],
  #page4-control:checked ~ .carousel-inner [for="page4-control"],
  #page5-control:checked ~ .carousel-inner [for="page5-control"],
  #page6-control:checked ~ .carousel-inner [for="page6-control"],
  #page7-control:checked ~ .carousel-inner [for="page7-control"],
  #page8-control:checked ~ .carousel-inner [for="page8-control"],
  #page9-control:checked ~ .carousel-inner [for="page9-control"],
  #page10-control:checked ~ .carousel-inner [for="page10-control"] {
    background-color: #78ab6c;
  }


  /* paint */

  .paint .project-logo {
    color: #d56755;
  }

  /* Body Shop */

  .body .project-logo {
    color: #CAF0FF;
    bottom: -1px;
  }

  .bodyshop-video {
    max-width: 100%;
  }

  .bodyshop-video {
    height: 220px;
    width: 527px;
    font-size: .5em;
  }

  /* Dingbats */

  .dingbats .project-logo {
    color: #359a69;
    bottom: -1px;
  }

  .dingbats .mockup {
    max-width: 100%;
    padding: 0;
  }

  .dingbats .mockup-full {
    max-width: 100%;
    padding-bottom: 50px;
  }

  .icon-download {
    width: 49px;
    height: 49px;
  }

  .download-btn {
    padding-top: 1em;
    padding-bottom: 1.5em;
    text-align: center;
  }

  .download-btn a {
    margin: 0px 15px;
    color: #000;
  }

  .download-btn a:hover, .download-btn a:focus {
    color: var(--color-primary);
    outline: 0;
  }

  .font-example-br {
    font-size: 7em;
    line-height: 120px;
    font-family: fb;
    padding-bottom: 20px;
  }

  .font-example {
    display: none;
  }

  /* liquid */

  .liquid .project-logo {
    color: #ff4252;
    bottom: -9px;
  }

  /* motion reel */

  .motion-reel .project-logo {
    color: grey;
  }

  .motion-reel .iso2 {
    top: -110px
  }

  /* algonquin */

  .algonquin .project-logo {
    color: #212721;
    bottom: -2px;
  }

  /* clow cards */

  .clowcards .project-logo {
    color: grey;
  }

  /* Nicki Minaj */

  .queen .project-logo {
    color: #ffca3b;
    bottom: -6px;
  }

  /* Priyanka */

  .priyanka .project-logo {
    color: #ffca3b;
    bottom: -8px;
  }

}

/* 404 page */

.error .logo-404 {
  color: purple;
  width: 90%;
}

@media only screen and (min-width: 38em) {

  html {
    max-width: 580px;
  }

  .home {
    width: 140px;
    height: 29px;
    position: absolute;
    fill: black;
    left: -32px;
    top: -1px;
  }

  .header {
    max-height: 650px;
  }

  .mdna .header {
    max-height: 550px;
  }

  .illustration .header {
    max-height: 550px;
  }

  .paint .header {
    max-height: 530px;
  }

  .perspective .header {
    max-height: 550px;
  }

  .dingbats .header {
    max-height: 550px;
  }

  .motion-reel .header {
    max-height: 450px;
  }

  .clowcards .header {
    max-height: 550px;
  }

  .queen .header {
    max-height: 550px;
  }

  .bio1 {
    display: none;
  }

  .bio2 {
    display: inherit;
    position: relative;
    padding-bottom: 50px;
  }

  .mockup {
    max-width: 100%;
    position: relative;
  }

/* Quotebook */

.img1 {
  width: 83%;
  display: block;
  position: relative;
  margin: auto;
  left: 75px;
  top: -13px;
}

.project-logo {
  padding-top: 0px;
  bottom: 80px;
  width: 70%;
}

.img2 {
  width: 90%;
  top: -150px;
  left: -40px;
}

/* MDNA */

.mdna .img1 {
    width: 83%;
    display: block;
    position: relative;
    margin: auto;
    left: 75px;
    top: -15px;
  }

.mdna .project-logo {
    padding-top: 0px;
    bottom: 75px;
    width: 70%;
  }

.mdna .img2 {
  width: 83%;
  top: -160px;
  left: -70px;
  }

  /* isometric */

  .iso1 {
    display: block;
    position: relative;
    margin: auto;
    left: 130px;
  }

  .illustration .project-logo {
    bottom: 75px;
    width: 89%;
  }

  .iso2 {
    display: block;
    margin: auto;
    top: -155px;
    right: 130px;
  }

  /* paint */

  .paint .project-logo {
    bottom: 74px;
  }

  /* utan */

  .utan .iso1 {
    width: 73%;
    left: 90px;
    top: -8px;
  }

  .utan .project-logo {
    bottom: 110px;
  }

  .utan .iso2 {
    width: 75%;
    left: -57px;
    top: -150px;
  }

  /* Body Shop */

  .body .project-logo {
    width: 90%;
    bottom: 75px;
  }

  .bodyshop-video {
    height: 350px;
    width: 527px;
  }

  /* 2-22 */

  .perspective .project-logo {
    bottom: 75px;
  }

  /* DingBats */

  .dingbats .project-logo {
    bottom: 75px;
  }

  .icon-download {
    width: 60px;
    height: 60px;
  }

  .download-btn {
    padding-top: 2.5em;
    padding-bottom: 1.5em;
  }

  .font-example-br {
    font-size: 9em;
    line-height: 170px;
    font-family: "Friendboys";
    padding-bottom: 30px;
  }

  /* liquid */

  .liquid .project-logo {
    bottom: 65px;
  }

  /* motion */

  .motion-reel .iso2 {
    top: -170px
  }

  /* algonquin */

  .algonquin .project-logo {
    width: 90%;
    bottom: 75px;
  }

  /* Nicki Minaj */

  .queen .project-logo {
    width: 90%;
    bottom: 69px;
  }

  .priyanka .project-logo {
    bottom: 65px;
  }

  /* 404 page */
  .error .logo-404 {
    bottom: 75px;
  }
}

@media only screen and (min-width: 60em) {

  html {
    max-width: 900px;
    text-align: center;
    margin: auto;
  }

  .header {
    max-height: 750px;
  }

  .quotebook .bio2 {
    padding-top: 5em;
  }

  .mdna .header {
    max-height: 650px;
  }

  .mdna .bio2 {
    padding-top: 3em;
  }

  .illustration .header {
    max-height: 700px;
  }

  .paint .header {
    max-height: 700px;
  }

  .body .header {
    max-height: 700px;
  }

  .perspective .header {
    max-height: 700px;
  }

  .dingbats .header {
    max-height: 700px;
  }

  .liquid .header {
    max-height: 700px;
  }

  .motion-reel .header {
    max-height: 700px;
  }

  .clowcards .header {
    max-height: 700px;
  }

  .queen .header {
    max-height: 700px;
  }

  .home {
    display: block;
    width: 150px;
    height: 28px;
    fill: black;
    left: -35px;
  }


  .img1 {
    width: 65%;
    display: block;
    position: relative;
    margin: auto;
    left: 140px;
    top: -14px;
  }

  .project-logo {
  }

  .img2 {
    width: 65%;
    top: -170px;
    left: -140px;
  }

  .mockup {
    max-width: 100%;
    position: relative;
  }

  /* MDNA */

.mdna .img1 {
    width: 65%;
    display: block;
    position: relative;
    margin: auto;
    left: 150px;
    top: -14px;
  }

.mdna .project-logo {
    padding-top: 0px;
    bottom: 200px;
    width: 430px;
  }

.mdna .img2 {
    width: 65%;
    top: -170px;
    left: -150px;
  }

  /* isometric */

  .iso1 {
    width: 70%;
    display: block;
    position: relative;
    margin: auto;
    left: 135px;
    z-index: 1
  }

  .illustration .project-logo {
    bottom: 200px;
    width: 90%;
  }

  .iso2 {
    width: 70%;
    display: block;
    margin: auto;
    top: -393px;
    right: 135px;
    z-index: 0;
  }

  .mockup-illustration {
    width: 1500px;
    left: 1000px;
  }

  /* uTan */

  .utan .project-logo {
    bottom: 140px;
    width: 90%;
  }

  .utan .iso1 {
    width: 60%;
    left: 200px;
  }

  .utan .iso2 {
    width: 63%;
    left: -150px;
    top: -200px;
  }

  /* paint */

  .paint .project-logo {
    bottom: 200px;
    left: -10px;
  }

  /* Body Shop */

  .body .project-logo {
    width: 90%;
    bottom: 200px;
  }

  .bodyshop-video {
    height: 500px;
    width: 900px;
  }

  /* 2-22 */

  .perspective .project-logo {
    bottom: 200px;
    left: -10px;
  }

  /* DingBats */

  .dingbats .project-logo {
    bottom: 200px;
  }

  .dingbats .mockup {
    max-width: 49%;
  }

  .font-example-br {
    display: none;
  }

  .font-example {
    display: block;
    font-size: 6.8rem;
    line-height: 170px;
    font-family: fb;
    padding-bottom: 40px;
  }

  /* liquid */

  .liquid .project-logo {
    bottom: 200px;
    left: -10px;
  }

  /* motion reel */

  .motion-reel .project-logo {
    bottom: 200px;
  }

  .motion-reel .iso2 {
    top: -350px
  }

  /* algonquin */

  .algonquin .project-logo {
    bottom: 200px;
    width: 90%;
  }

  /* clow cards */

  .clowcards .project-logo {
    bottom: 200px;
  }

  .clowcards .cards {
    max-width: 100%;
  }

  /* Nicki Minaj */

  .queen .project-logo {
    bottom: 200px;
    max-width: 90%;
  }

  /* Priyanka */

  .priyanka .project-logo {
    bottom: 200px;
    max-width: 90%;
  }

  /* 404 pages */

  .error .logo-404 {
    bottom: 200px;
  }

  .construction .project-logo {
    bottom: 200px;
  }


}
