html {
  max-width: 400px;
  margin: auto;
  background-color: var(--color-secondary-light);
  padding-bottom: 1.5em;
}

.jeremy1 {
  position: absolute;
  width: 320px;
}

.logo {
  position: relative;
  padding-top: 200px;
  z-index: 1;
  width: 320px;
}

.jeremy2 {
  position: relative;
  bottom: 43px;
  width: 320px;
}

.projects {
  display: none;
}

.bio-name {
  display: inherit;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

.bio2 {
  display: inherit;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

/* Portfolio Pieces */

.projects {
  display: block;
  min-height: 1100px;
}

.casestudy > img {
  max-width: 100%;
}

/* Footer */

.footer {
  background-size: 48px;
}

.footer a {
  margin: 0px 18px;
  color: #000;
}

.icon-nav {
  padding-bottom: 1.5em;
  padding-top: 1em;
}

.icon-email {
  width: 40px;
  height: 40px;
}

.icon-social {
  width: 25px;
  height: 25px;
}

.footer a:hover, .footer a:focus {
  color: var(--color-primary);
  outline: 0;
}

.icon {
  display: block;
}

.footer .copyright {
  color: #000;
  font-weight: 100;
  font-size: 60%;
  margin: 0;
}

.footer .information {
  padding: 0;
}

/* 404 page */

.iso1 {
  position: absolute;
  width: 320px;
}

.iso2 {
  position: relative;
  bottom: 77px;
  width: 320px;
}


@media only screen and (min-width: 38em) {

  html {
    max-width: 580px;
  }

  .jeremy1 {
    display: block;
    position: relative;
    margin: auto;
    left: 130px;
  }

  .logo {
    padding-top: 0px;
    bottom: 38px;
    width: 300px;
  }

  .jeremy2 {
    display: block;
    margin: auto;
    bottom: 80px;
    right: 130px;
  }

  .bio2 {
    display: inherit;
    text-align: left;
  }

  .casestudy {
    display: inline-block;
    max-width: 49%;
    margin: 0;
  }

  .footer a {
    margin: 0px 25px;
  }

  .icon-nav {
    padding-top: 2em;
  }

  .icon-email {
    width: 56px;
    height: 56px;
  }

  .icon-social {
    width: 38px;
    height: 38px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    max-width: 900px;
    text-align: center;
    margin: auto;
  }

  .header {
    height: 700px;
  }

  .jeremy1 {
    width: 70%;
    display: block;
    position: relative;
    margin: auto;
    left: 135px;
    z-index: 1
  }

  .logo {
    padding-top: 0px;
    bottom: 225px;
    width: 100%;
  }

  .jeremy2 {
    width: 70%;
    display: block;
    margin: auto;
    bottom: 450px;
    right: 135px;
    z-index: 0;
  }

  /* Portfolio Pieces */

  .projects {
    position: relative;
  }

  .casestudy {
    margin: 0;
    position: absolute;
    width: 300px;
    background-color: #fff;
    box-shadow: 1px 4px 11px rgba(0, 0, 0, .5);
    transition: all 300ms linear;
  }

  .casestudy > img {
    display: block;
    max-width: 100%;
  }

/* utan */
  .casestudy:nth-child(1) {
    transform: rotate(4deg);
    z-index: 50;
    left: 30px;
    top: 80px;
    }

/* mdna */
  .casestudy:nth-child(2) {
    transform: rotate(10deg);
    z-index: 49;
    left: 300px;
    top: 200px;
  }

/* isometric */
  .casestudy:nth-child(3) {
    transform: rotate(-5deg);
    z-index: 48;
    left: 50px;
    top: 300px;
  }

/* painting */
  .casestudy:nth-child(4) {
    transform: rotate(7deg);
    z-index: 40;
    left: 570px;
    top: 260px;
  }

  /* motion reel */
    .casestudy:nth-child(5) {
      transform: rotate(-5deg);
      z-index: 46;
      left: 560px;
      top: 50px;
    }

    /* quote book */
    .casestudy:nth-child(6) {
      transform: rotate(-3deg);
      z-index: 47;
      left: 290px;
    }

    /* body shop */
    .casestudy:nth-child(7) {
      transform: rotate(-3deg);
      z-index: 45;
      left: 280px;
      top: 400px;
    }

    /* liquid */
    .casestudy:nth-child(8) {
      transform: rotate(-2deg);
      z-index: 44;
      left: 15px;
      top: 550px;
    }

    /* 2-22 */
    .casestudy:nth-child(9) {
      transform: rotate(-2deg);
      z-index: 43;
      left: 530px;
      top: 500px;
    }

    /* algonquin */
    .casestudy:nth-child(10) {
      transform: rotate(-5deg);
      z-index: 42;
      left: 280px;
      top: 640px;
    }

    /* cd case */
    .casestudy:nth-child(11) {
      transform: rotate(5deg);
      z-index: 41;
      left: 550px;
      top: 720px;
    }

  .casestudy:hover {
    transform: rotate(0deg);
    z-index: 100;
    box-shadow: 2px 2px 30px #000;
  }

}
