html {
  max-width: 400px;
  margin: auto;
  background-color: var(--color-secondary-light);
  padding-bottom: 1.5em;
}

.jeremy1 {
  position: absolute;
  width: 320px;
}

.logo {
  position: relative;
  padding-top: 200px;
  z-index: 1;
  width: 320px;
}

.jeremy2 {
  position: relative;
  bottom: 43px;
  width: 320px;
}

.bio-name {
  display: inherit;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

.bio2 {
  display: inherit;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

/* Portfolio Pieces */

.projects {
  display: block;
  min-height: 100px;
}

.casestudy > img {
  max-width: 100%;
}

.casestudies {
  display: block;
}

.illustration-icon {
  display: block;
  margin: auto;
}

.motion-icon {
  display: block;
  margin: auto;
  padding-top: 3em;
}

.branding-icon {
  display: block;
  margin: auto;
  padding-top: 3em;
}

.photography-icon {
  display: block;
  margin: auto;
  padding-top: 3em;
}

/* Footer */

.footer {
  background-size: 48px;
}

.footer a {
  margin: 0px 15px;
  color: #000;
}

.icon-nav {
  padding-bottom: 1.5em;
  padding-top: 1em;
}

.icon-email {
  width: 49px;
  height: 49px;
}

.icon-social {
  width: 33px;
  height: 33px;
}

.footer a:hover, .footer a:focus {
  color: var(--color-primary);
  outline: 0;
}


.icon {
  display: block;
}

.footer .copyright {
  color: #000;
  font-weight: 100;
  font-size: 60%;
  margin: 0;
}

.footer .information {
  padding: 0;
}

/* 404 page */

.iso1 {
  position: absolute;
  width: 320px;
}

.iso2 {
  position: relative;
  bottom: 77px;
  width: 320px;
}


@media only screen and (min-width: 38em) {

  html {
    max-width: 580px;
  }

  .header {
    max-height: 500px;
  }

  .jeremy1 {
    width: 70%;
    display: block;
    position: relative;
    margin: auto;
    left: 95px;
    z-index: 1
  }

  .logo {
    padding-top: 0px;
    bottom: 140px;
    width: 100%;
  }

  .jeremy2 {
    width: 70%;
    display: block;
    margin: auto;
    bottom: 285px;
    right: 100px;
    z-index: 0;
  }

  .bio2 {
    display: inherit;
    text-align: left;
  }



  .casestudy {
    display: inline-block;
    max-width: 49%;
    margin: 0;
  }

  .footer a {
    margin: 0px 25px;
  }

  .icon-nav {
    padding-top: 2em;
  }

  .icon-email {
    width: 60px;
    height: 60px;
  }

  .icon-social {
    width: 43px;
    height: 43px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    max-width: 900px;
    text-align: center;
    margin: auto;
  }

  .header {
    max-height: 700px;
  }

  .jeremy1 {
    width: 70%;
    display: block;
    position: relative;
    margin: auto;
    left: 135px;
    z-index: 1
  }

  .logo {
    padding-top: 0px;
    bottom: 225px;
    left: 0px;
    width: 100%;
  }

  .jeremy2 {
    width: 70%;
    display: block;
    margin: auto;
    bottom: 450px;
    right: 135px;
    z-index: 0;
  }


  

  /* Categories */

  .projects {
    display: block;
    min-height: 2700px;
  }

  .casestudies {
    display: block;
  }

  .illustration .photography .motion .branding {
    display: block;
  }

  .illustration-icon {
    padding-top: 0;
    position: relative;
    top: -70px;
    width: 200px;
  }

  .motion-icon {
    padding-top: 0;
    position: relative;
    width: 225px;
    top: 550px;
  }

  .branding-icon {
    padding-top: 0;
    position: relative;
    top: 1150px;
    width: 173px;
  }

  .photography-icon {
    padding-top: 0;
    position: relative;
    top: 1490px;
    width: 200px;
  }

  /* Portfolio Pieces */

  .projects {
    display: block;
    position: relative;
  }

  .casestudy {
    margin: 0;
    position: absolute;
    width: 300px;
    background-color: #fff;
    box-shadow: 1px 4px 11px rgba(0, 0, 0, .5);
    transition: all 300ms linear;
  }

  .casestudy > img {
    display: block;
    max-width: 100%;
  }

  /* Photography Icon */
    .casestudy:nth-child(1) {
  }

  /* Queen */
  .casestudy:nth-child(2) {
    transform: rotate(-7deg);
    z-index: 10;
    left: 20px;
    top: 50px;
  }
  /* Dingbats */
  .casestudy:nth-child(3) {
    transform: rotate(-5deg);
    z-index: 6;
    left: 310px;
    top: 60px;
  }
  /* Isometric */
  .casestudy:nth-child(4) {
    transform: rotate(6deg);
    z-index: 2;
    left: 570px;
    top: 50px;
  }
  /* Priyanka */
  .casestudy:nth-child(5) {
    transform: rotate(4deg);
    z-index: 3;
    left: 300px;
    top: 330px;
  }
  /* Painting */
  .casestudy:nth-child(6) {
    transform: rotate(-5deg);
    z-index: 0;
    left: 30px;
    top: 340px;
  }
  /* Clow Cards */
  .casestudy:nth-child(7) {
    transform: rotate(-3deg);
    z-index: 1;
    left: 560px;
    top: 320px;
  }

    /* ----------- */


  /* Motion Icon */
  .casestudy:nth-child(8) {
  }

  /* Motion */
  .casestudy:nth-child(9) {
    transform: rotate(-7deg);
    z-index: 10;
    left: 20px;
    top: 840px;
  }

  /* Queen */
  .casestudy:nth-child(10) {
    transform: rotate(-4deg);
    z-index: 9;
    left: 310px;
    top: 830px;
  }

  /* The Body Shop */
  .casestudy:nth-child(11) {
    transform: rotate(10deg);
    z-index: 8;
    left: 600px;
    top: 830px;
  }

  /* Gameboy */
  .casestudy:nth-child(12) {
    transform: rotate(4deg);
    z-index: 8;
    left: 20px;
    top: 1100px;
  }

  /* UI */
  .casestudy:nth-child(13) {
    transform: rotate(-4deg);
    z-index: 8;
    left: 310px;
    top: 1100px;
  }

  /* -------------- */

  /* Branding Icon */
  .casestudy:nth-child(14) {

  }

  /* uTan */
  .casestudy:nth-child(15) {
    transform: rotate(6deg);
    z-index: 10;
    left: 20px;
    bottom: 850px;
  }

  /* Algonquin */
  .casestudy:nth-child(16) {
    transform: rotate(-8deg);
    z-index: 9;
    left: 310px;
    bottom: 820px;
  }

  /* Annual Report */
  .casestudy:nth-child(17) {
    transform: rotate(5deg);
    z-index: 9;
    left: 600px;
    bottom: 850px;
  }

  /* ------------- */

  /* Photography Icon */
  .casestudy:nth-child(18) {
  }

  /* Liquid */
  .casestudy:nth-child(19) {
    transform: rotate(-4deg);
    z-index: 46;
    left: 20px;
    bottom: 330px;
  }

  /* Portfolio */
  .casestudy:nth-child(20) {
    transform: rotate(-3deg);
    z-index: 45;
    left: 310px;
    bottom: 330px;
  }

  /* MDNA */
  .casestudy:nth-child(21) {
    transform: rotate(6deg);
    z-index: 44;
    left: 600px;
    bottom: 330px;
  }

  /* Albums */
  .casestudy:nth-child(22) {
    transform: rotate(-6deg);
    z-index: 44;
    left: 30px;
    bottom: 50px;
  }

  /* Quote Book */
  .casestudy:nth-child(23) {
    transform: rotate(3deg);
    z-index: 44;
    left: 310px;
    bottom: 50px;
  }

  /* Carasauga */
  .casestudy:nth-child(24) {
    transform: rotate(6deg);
    z-index: 44;
    left: 600px;
    bottom: 50px;
  }

  .casestudy:hover {
    transform: rotate(0deg);
    z-index: 100;
    box-shadow: 2px 2px 30px #000;
  }

}
