html {
  max-width: 400px;
  margin: auto;
  background-color: var(--color-secondary-light);
  padding-bottom: 1.5em;
}

.bio {
  padding-top: 100px;
}

.bio-name {
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

.bio2 {
  display: inherit;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

/*-----------------------------*/


.header div {
  position: relative;
}

.header {
  width: 100%;
  text-align: center;
  float: left;
  position: relative;
}

.logo-top {
  display: inline-block;
  width: 80%;
  margin-top: 3em;
  margin-bottom: 2em;
}

.logo-bottom {
  display: none;
}

.img-banner {
  display: none;
}

.img-banner-small {
  width: 100%;
  margin-top: 7em;
  display: block;
}

 .nav a {
   color: #000;
   font-family: "Raleway";
   font-size: 20px;
 }

 .nav {
   padding-right: 1em;
   margin-left: 5.5em;
   position: absolute;
 }

.hover-1 a:hover {
  color: rgb(196, 186, 53);
}
.hover-2 a:hover {
  color: #ef6e00;
}
.hover-3 a:hover {
  color: #fd4982;
}
.hover-4 a:hover {
  color: #0082C9;
}
.hover-5 a:hover {
  color: #fd4982;
}

/* Portfolio Pieces */

.projects {
  display: block;
  min-height: 100px;
}

.casestudy > img {
  max-width: 100%;
}

.casestudy {
  display: inline-block;
  max-width: 49%;
  margin: 0;
}

.illustration {
  height: 175px;
}

.illustration-icon {
  display: block;
  margin: auto;
  padding-top: 3em;
  width: 45%;
}

.motion {
  height: 175px;
}

.motion-icon {
  display: block;
  margin: auto;
  padding-top: 3em;
  width: 45%;
}

.branding {
  height: 175px;
}

.branding-icon {
  display: block;
  margin: auto;
  padding-top: 3em;
  width: 45%;
}

.photography {
  height: 175px;
}

.photography-icon {
  display: block;
  margin: auto;
  padding-top: 3em;
  width: 45%;
}

.miscellaneous {
  height: 175px;
}

.miscellaneous-icon {
  display: block;
  margin: auto;
  padding-top: 3em;
  width: 45%;
}

/* Footer */

.footer {
  background-size: 48px;
}

.footer a {
  margin: 0px 15px;
  color: #000;
}

.icon-nav {
  padding-bottom: 1.5em;
  padding-top: 1em;
}

.icon-email {
  width: 49px;
  height: 49px;
}

.icon-resume, .icon-instagram, .icon-vimeo, .icon-music {
  width: 33px;
  height: 33px;
}

.icon-resume svg:hover {
  color: rgb(196, 186, 53);
}

.icon-instagram svg:hover {
  color: #ef6e00;
}

.icon-email svg:hover {
  color: #fd4982;
}

.icon-vimeo svg:hover {
  color: #0082C9;
}

.icon-music svg:hover {
  color: #fd4982;
}

.icon {
  display: block;
}

.footer .copyright {
  color: #000;
  font-weight: 100;
  font-size: 60%;
  margin: 0;
}

.footer .information {
  padding: 0;
}

/* 404 page */

.iso1 {
  position: absolute;
  width: 320px;
}

.iso2 {
  position: relative;
  bottom: 77px;
  width: 320px;
}


@media only screen and (min-width: 38em) {


  html {
    max-width: 580px;
  }

  .header {
    max-height: 1000px;
    width: 100%;
    text-align: center;
    float: left;
    position: relative;
  }

  .header div {
    position: absolute;
    padding-top: 0;
  }

  .img-banner {
    display: none;
  }

  .img-banner-small {
    margin-top: 3em;
    width: 100%;
    display: inline-block;
    position: relative;
  }

  .logo-top {
    display: none;
  }

  .logo-bottom {
    display: inline-block;
    position: absolute;
    width: 70%;
    top: 20%;
    left: 50%;
    padding-top: 1em;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .menu {
    text-decoration: none;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .nav {
    padding-right: 0em;
    margin-left: 0em;
  }

  .nav ul {
    padding-top: 50px;
    display: inline-block
   }

   .nav a {
     font-family: "Raleway";
     font-size: 15px;
   }

   .hover-1 a:hover {
     color: rgb(196, 186, 53);
   }
   .hover-2 a:hover {
     color: #ef6e00;
   }
   .hover-3 a:hover {
     color: #fd4982;
   }
   .hover-4 a:hover {
     color: #0082C9;
   }
   .hover-5 a:hover {
     color: #fd4982;
   }

  .bio {
    display: inherit;
    text-align: left;
    position: relative;
  }

  .casestudy {
    display: inline-block;
    max-width: 49%;
    margin: 0;
  }

  .illustration {
    height: 200px;
  }
  .motion {
    height: 200px;
  }
  .branding {
    height: 200px;
  }
  .photography {
    height: 200px;
  }
  .miscellaneous {
    height: 200px;
  }


  .footer a {
    margin: 0px 25px;
  }

  .icon-nav {
    padding-top: 2em;
  }

  .icon-email {
    width: 60px;
    height: 60px;
  }

  .icon-resume, .icon-instagram, .icon-vimeo, .icon-music {
    width: 43px;
    height: 43px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    max-width: 900px;
    text-align: center;
    margin: auto;
  }

  .header {
    max-height: 900px;
  }

  .header div {
    height: 1000px;
  }

  .logo-bottom {
    position: absolute;
    width: 75%;
    padding-top: 0;
  }

  .img-banner {
    padding-top: 50px;
    width: 100%;
    display: block;
    position: relative;
  }

  .img-banner-small {
    display: none;
  }

  .menu {
    width: 100%;
    z-index: 1;
  }

  .nav ul {
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 50px;
    display: inline-block
   }

   .nav a {
     font-family: "Raleway";
     font-size: 20px;
   }

   .hover-1 a:hover {
     color: rgb(196, 186, 53);
   }
   .hover-2 a:hover {
     color: #ef6e00;
   }
   .hover-3 a:hover {
     color: #fd4982;
   }
   .hover-4 a:hover {
     color: #0082C9;
   }
   .hover-5 a:hover {
     color: #fd4982;
   }

  /*-----------------------------*/

  /* Categories */

  .projects {
    max-width: 900px;
    margin: auto;
    display: block;
    min-height: 3500px;
  }

  .casestudies {
    display: block;
    min-width: 900px;
  }

  .illustration .photography .motion .branding .miscellaneous {
    display: inline;
  }

  #illustration {
    padding-bottom: 675px;
  }

  #motion {
    padding-bottom: 500px;
  }

  #branding {
    padding-bottom: 425px;
  }

  #photography {
    padding-bottom: 625px;
  }

  .illustration-icon {
    padding-top: 75px;
    position: relative;
    width: 200px;
  }

  .motion-icon {
    padding-top: 0;
    position: relative;
    width: 225px;
  }

  .branding-icon {
    padding-top: 0;
    position: relative;
    top: 125px;
    width: 173px;
  }

  .photography-icon {
    padding-top: 0;
    position: relative;
    top: 20px;
    width: 200px;
  }

  .miscellaneous-icon {
    padding-top: 0;
    position: relative;
    width: 210px;
  }


  /* Portfolio Pieces */

  .projects {
    display: block;
    position: relative;
  }

  .casestudy {
    margin: 0;
    position: absolute;
    width: 300px;
    background-color: #fff;
    box-shadow: 1px 4px 11px rgba(0, 0, 0, .5);
    transition: all 300ms linear;
  }

  .casestudy > img {
    display: block;
    max-width: 100%;
  }

  /* Queen */
  .casestudy:nth-child(2) {
    transform: rotate(-7deg);
    z-index: 10;
    left: 20px;
    top: 200px;
  }
  /* Dingbats */
  .casestudy:nth-child(3) {
    transform: rotate(-5deg);
    z-index: 6;
    left: 310px;
    top: 200px;
  }
  /* Isometric */
  .casestudy:nth-child(4) {
    transform: rotate(6deg);
    z-index: 2;
    left: 570px;
    top: 200px;
  }
  /* Priyanka */
  .casestudy:nth-child(5) {
    transform: rotate(4deg);
    z-index: 3;
    left: 300px;
    top: 475px;
  }
  /* Painting */
  .casestudy:nth-child(6) {
    transform: rotate(-5deg);
    z-index: 0;
    left: 30px;
    top: 475px;
  }
  /* Clow Cards */
  .casestudy:nth-child(7) {
    transform: rotate(-3deg);
    z-index: 1;
    left: 560px;
    top: 475px;
  }
    /* ----------- */

  /* Motion Reel */
  .casestudy:nth-child(9) {
    transform: rotate(-7deg);
    z-index: 11;
    left: 20px;
    top: 1000px;
  }

  /* Queen */
  .casestudy:nth-child(10) {
    transform: rotate(-4deg);
    z-index: 10;
    left: 310px;
    top: 1000px;
  }

  /* Lana */
  .casestudy:nth-child(11) {
    transform: rotate(7deg);
    z-index: 8;
    left: 600px;
    top: 1000px;
  }

  /* Gameboy */
  .casestudy:nth-child(12) {
    transform: rotate(4deg);
    z-index: 8;
    left: 20px;
    top: 1300px;
  }

  /* UI */
  .casestudy:nth-child(13) {
    transform: rotate(-4deg);
    z-index: 9;
    left: 310px;
    top: 1300px;
  }

  /* Body Shop */
  .casestudy:nth-child(14) {
    transform: rotate(-5deg);
    z-index: 9;
    left: 600px;
    top: 1300px;
  }

  /* -------------- */

  /* uTan */
  .casestudy:nth-child(16) {
    transform: rotate(6deg);
    z-index: 10;
    left: 20px;
    top: 1830px;
  }

  /* Algonquin */
  .casestudy:nth-child(17) {
    transform: rotate(-8deg);
    z-index: 9;
    left: 310px;
    top: 1830px;
  }

  /* Annual Report */
  .casestudy:nth-child(18) {
    transform: rotate(5deg);
    z-index: 9;
    left: 600px;
    top: 1830px;
  }

  /* ------------- */

  /* Liquid */
  .casestudy:nth-child(20) {
    transform: rotate(-4deg);
    z-index: 46;
    left: 20px;
    bottom: 850px;
  }

  /* Portfolio */
  .casestudy:nth-child(21) {
    transform: rotate(-3deg);
    z-index: 45;
    left: 310px;
    bottom: 850px;
  }

  /* MDNA */
  .casestudy:nth-child(22) {
    transform: rotate(6deg);
    z-index: 44;
    left: 600px;
    bottom: 850px;
  }

  /* Albums */
  .casestudy:nth-child(23) {
    transform: rotate(-6deg);
    z-index: 44;
    left: 30px;
    bottom: 575px;
  }

  /* Quote Book */
  .casestudy:nth-child(24) {
    transform: rotate(3deg);
    z-index: 44;
    left: 310px;
    bottom: 575px;
  }

  /* Carasauga */
  .casestudy:nth-child(25) {
    transform: rotate(6deg);
    z-index: 44;
    left: 600px;
    bottom: 575px;
  }

/* Gaga Albums */
  .casestudy:nth-child(27) {
    transform: rotate(-3deg);
    z-index: 44;
    left: 20px;
    bottom: 50px;
  }

  .casestudy:hover {
    transform: rotate(0deg);
    z-index: 100;
    box-shadow: 2px 2px 30px #000;
  }

}
