<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Jeremy Kupo · Designer</title>
  <meta name="description" content="Just a boy with a MacBook Pro and a dream to design and create for all the world to see.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/common/site.css" rel="stylesheet">
  {% unless page.url =="/"%}
  <link href="{{site.baseurl}}/common/casestudy.css" rel="stylesheet">
  {% endunless %}

  <meta property="og:type" content="website">
  <meta property="og:title" content="Kupo Design">
  <meta property="og:url" content="http://kupo.design">
  <meta property="og:image" content="http://kupo.design/images/jeremy-preview.jpg">
  <meta property="og:site_name" content="Kupo Design">
  <meta property="og:description" content="Jeremy Kupo · Graphic Designer">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@">
  <meta name="twitter:title" content="Kupo Design">
  <meta name="twitter:url" content="http://kupo.design">
  <meta name="twitter:description" content="Jeremy Kupo · Graphic Designer">
  <meta name="twitter:image" content="http://kupo.design/images/jeremy-twitter.jpg">

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon/favicon.png" />
</head>

<body>

  {{content}}

</body>

  <footer class="footer">

    <div class="icon-nav text-center">
      <a class="valign-middle inline-block" href="https://society6.com/jeremykupo"target=_blank>
        <i class="icon i-25 icon-social">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#s6" /></svg>
        </i>
      </a>
      <a class="valign-middle inline-block" href="https://www.instagram.com/kupo.design/"target=_blank>
        <i class="icon i-25 icon-social">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#instagram" /></svg>
        </i>
      </a>
      <a class="valign-middle inline-block" href="mailto:jeremy@kupo.design">
        <i class="icon i-38 icon-email">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#email" /></svg>
        </i>
      </a>
      <a class="valign-middle inline-block" href="https://itunes.apple.com/profile/jeremyahkupo"target=_blank>
        <i class="icon i-25 icon-social">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#music" /></svg>
        </i>
      </a>
      <a class="valign-middle inline-block" href="https://vimeo.com/user56888839"target=_blank>
        <i class="icon i-25 icon-social">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#vimeo" /></svg>
        </i>
      </a>
    </div>

    <p class="micro text-center copyright"><strong>Kupo Design © All Rights Reserved. 2018</strong></p>

  </footer>

</html>
