<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Kupo Design · Graphic Designer</title>
  <meta name="description" content="Just a boy with a MacBook Pro and a dream to design and create for all the world to see.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/common/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/theme.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/main.css" rel="stylesheet">
  {% unless page.url =="/"%}
  <link href="{{site.baseurl}}/common/casestudy.css" rel="stylesheet">
  {% endunless %}
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet">
</head>

<body>

  {{content}}

</body>

  <footer class="footer">
    <div class="icon-nav text-center">
      <a class="inline-block" href="#">
        <i class="icon i-48">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#facebook" /></svg>
        </i>
      </a>
      <a class="inline-block" href="http://www.instagram.com/kupo.design/">
        <i class="icon i-48">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#instagram" /></svg>
        </i>
      </a>
      <a class="inline-block" href="https://www.behance.net/KUPO00025cae">
        <i class="icon i-48">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#behance" /></svg>
        </i>
      </a>
      <a class="inline-block" href="https://vimeo.com/user56888839">
        <i class="icon i-48">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#vimeo" /></svg>
        </i>
      </a>
      <a class="inline-block" href="#">
        <i class="icon i-48">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#twitter" /></svg>
        </i>
      </a>
    </div>

    <div class="information text-center pad-b-1-2">
      <a class="contact macro contact valign-middle" href="#"><strong>Contact Me</strong></a>
      <p class="address macro address valign-middle">ottawa, on.</p>
    </div>

    <p class="micro text-center copyright"><strong>Kupo Design © All Rights Reserved. 2018</strong></p>

  </footer>

</html>
