<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Kupo Design</title>
  <meta name="description" content="Just a boy with a MacBook Pro and a dream to design and create for all the world to see.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/common/site.css" rel="stylesheet">

  <link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon.png" />
  <link rel="mask-icon" viewBox="0 0 16 16" href="{{site.baseurl}}/images/pin-favicon.svg" color="#785884">

  {% unless page.url =="/"%}
  <link href="{{site.baseurl}}/common/casestudy.css" rel="stylesheet">
  {% endunless %}
</head>

<body>

  {{content}}

</body>

  <footer class="footer">

    <div class="icon-nav text-center">

      <a class="valign-middle inline-block" href="{{site.baseurl}}/images/jeremy-kupo-resume.pdf" target="_blank">
        <i class="icon i-25 icon-resume">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#resume" /></svg>
        </i>
      </a>

      <a class="valign-middle inline-block" href="https://www.instagram.com/kupo.design/"target=_blank>
        <i class="icon i-25 icon-instagram">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#instagram" /></svg>
        </i>
      </a>

      <a class="valign-middle inline-block" href="mailto:jeremy@kupo.design">
        <i class="icon i-38 icon-email">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#email" /></svg>
        </i>
      </a>

      <a class="valign-middle inline-block" href="https://vimeo.com/user56888839"target=_blank>
        <i class="icon i-25 icon-vimeo">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#vimeo" /></svg>
        </i>
      </a>

      <a class="valign-middle inline-block" href="https://itunes.apple.com/profile/jeremyahkupo"target=_blank>
        <i class="icon i-25 icon-music">
          <svg><use xlink:href="{{site.baseurl}}/images/social-icons.svg#music" /></svg>
        </i>
      </a>

    </div>

    <p class="micro text-center copyright"><strong>Kupo Design © All Rights Reserved. 2021</strong></p>

  </footer>

</html>
